@model IEnumerable<RoadBoM.Web.Models.ViewModels.BillCategoryViewModel>
@{
    ViewData["Title"] = "Enrol";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!-- Start Page Title -->
<div class="pagetitle">
    <h1>Bill Categories</h1>
</div><!-- End Page Title -->


<p>
    <a asp-action="Enrol">Add Bill Category</a>
</p>
<table id="table-billCategories" class="table datatable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Description</th>
            <th scope="col">Status</th>
            <th scope="col">Created On</th>
            <th scope="col">Updated On</th>
            <th></th><!--Actions Edit, Delete ect -->
        </tr>
    </thead>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/views/Setting/billCategory.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
        });

        let permission = {
        };
        let billCategory = BillCategory(permission);
        billCategory.init();
    </script>
}
