@{
    ViewData["Title"] = "Enrol";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!-- Start Page Title -->
<div class="pagetitle">
    <h1>Roads</h1>
</div><!-- End Page Title -->


<p>
    <a asp-action="Enrol">Add New Road</a>
</p>
<table id="table-roads"  class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Width</th>
            <th>Row</th>
             <th>Poles</th>
            <th>Type</th>
            <th>Culvert</th>
            <th>Outfall</th>
            <th scope="col">Status</th>
            <th scope="col">Created On</th>
            <th scope="col">Updated On</th>
            <th></th><!--Actions Edit, Delete ect -->
        </tr>
    </thead>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/views/Road/road.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
        });

        let permission = {
        };
        let road = Road(permission);
        road.init();
    </script>
}